altgraph==0.17.2
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
distlib==0.3.3
filelock==3.4.0
macholib==1.15.2
Pillow==9.0.1
pipenv==2021.11.15
platformdirs==2.4.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
qrcode==7.3.1
six==1.16.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
